html {
    height: 100%;
    width: 100%;
    background-color: #222;
    padding:0px;
}
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.objectives {
  float: left;
  width: 220px;
  font-size: 16px;
  font-family: monospace;
  color: #eee;
}

.objectives li {
  padding-bottom: 10px;
}

.strikethrough {
  text-decoration: line-through;
  color: #ccc;
}

.console-section {
    margin:0px;
    padding:10px;
}

.container {
    width: 920px;
    margin: 0px auto;
    color: #FFF;
}
.head {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    color: #FFF;
    position:relative;
    height:100px;
    padding:5px;
}

.head h1, .head h4 {
    margin: 3px;
    font-weight: normal;
}
.head h1{
    font-size:2em;
    color:yellow;
}
.console-options{
    font-family:Consolas;
    margin:0 10px 10px 10px;
}
.click-me {
    position: relative;
    top: -300px;
    left: 0px;
    text-align: center;
    color: darkred;
    visibility:visible;
    font-size:1.7em;
    pointer-events:none;
    background-color: #fff;
}
.terminal-focused .click-me {
    visibility:hidden;
}

.terminal{
  border:none;
  margin-top: -6px;
    /*border:1px solid transparent;*/
}
.vintage-terminal.terminal {
    border:none;
}
.terminal-focused.terminal{
    /*border:1px solid rgba(255, 255, 0, 0.5);*/
}

.terminal-focused.vintage-terminal.terminal{
    box-shadow: 0 0 20px rgba(217, 215, 255, 0.85) inset, 0px 0px 2px #000, 0px 0px 16px rgba(255, 255, 0, 0.5);
    border:none;
}

a{
    color:yellow;
}

@media only screen and (max-device-width: 480px) {
    .container {
      width: 100%;
      margin: 0px auto;
    }
    .unit-tests{
        font-family:Consolas;
        padding-top:30px;
    }
    .gitHub {
        position:static;
        background:none;
        font-size:1em;
        display:block;
        padding:0px;
        margin:0 10px 10px 0;
        width:auto;
        height:auto;
        text-align:right;
        text-decoration:underline;
    }
    .head{
        padding:0px;
        font-family:Consolas;
    }
    .head h1{
        margin:2px;
        padding:0;
        font-size:1.3em;
        font-weight:bold;
    }
    .head h4{
        margin:1px;
        padding:0;
        font-size:1em;
        font-weight:normal;
    }
    .terminal{
        margin-top:5px;
        height:360px;
    }
    .click-me {
        left:20px;
        top:-40px;
        font-size:1.2em;
        font-family:Consolas;
    }
    .console-section, .instructions-section{
        padding:5px;
    }
    .terminal-line{
        white-space:normal;
    }
    .instructions h3 {
        font-family: Consolas;
        margin:1px;
        padding:0;
        font-size:1.2em;
        font-weight:normal;
    }
    #terminal-server-preview{
        display:none;
    }
}
